<%- layout('layouts/boilerplate') %>

<div>
    <h1>To Do List</h1>

    <a href="/todolist/new">Add new todo</a>

    <ul>
        <% for(let todo of todos) {%>
        <li><a href="/todolist/<%= todo._id %>"> <%= todo.title %> </a></li>
        <% } %>
    </ul>
</div>
