<%- layout('layouts/boilerplate') %>

<div>
    <a href="/todolist">Back to All To Do</a>
    <h1>Add new todo</h1>
    <form action="/todolist" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" />
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div>
            <label for="dueDate">Time</label>
            <input type="date" name="dueDate" id="dueDate" />
        </div>
        <div>
            <label for="priority">Priority</label>
            <select name="priority" id="priority">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <button>Add</button>
    </form>
</div>
