* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, serif;
    background-color: rgb(130, 194, 228);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: center; */
    align-items: center;
    background-color: white;
    /* width: 300px; */
}

main div {
    padding: 1.02rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(158, 208, 194, 0.792);
    min-width: 100%;
    max-width: 100%;
}

footer div {
    padding: 1.05rem;
}

ul li {
    margin: 3% 0;
}

button {
    margin: 1.005rem 0;
}

h1 {
    margin: 10px 0;
}
