* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, serif;
    background: #22c1c3;
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(45, 177, 253, 1) 100%
    );
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* width: 300px; */
}

#container div {
    padding: 1.02rem;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; */
}

/* footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(158, 208, 194, 0.792);
    min-width: 100%;
    max-width: 100%;
} */

footer div {
    padding: 1.05rem;
}

ul li {
    margin: 3% 0;
}

button {
    margin: 1.005rem 0;
}

h1 {
    margin: 10px 0;
}
